<%- include('../partials/header.ejs') %>
  <div class="container-flud my-4 custom-container body-full-height">
    <div class="mycontainer col-12 d-flex justify-content-around list-order-box my-4">
      <div class="row all-box-item">
          <div class="col-12 waiting-confirm-box">
              <div class="card ">
                  <a href="/account/listActivatedAccount">
                      <div class="card-body d-flex flex-column justify-content-between align-items-center">
                          <h5 class="card-title pt-1" style="color: #007bfd;">Đã kích hoạt</h5>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="row all-box-item">
          <div class="col-12 shipping-box">
              <div class="card selected">
                  <a href="/account/listWaitingAccount">
                      <div class="card-body d-flex flex-column justify-content-between align-items-center">
                          <h5 class="card-title pt-1 " style="color: #007bfd;">Chờ kích hoạt</h5>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="row all-box-item">
          <div class="col-12 shipped-box">
              <div class="card">
                  <a href="/account/listDisabledAccount">
                      <div class="card-body d-flex flex-column justify-content-between align-items-center">
                          <h5 class="card-title pt-1" style="color: #007bfd;">Đã bị vô hiệu hóa</h5>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="row all-box-item">
          <div class="col-12 canceled-box">
              <div class="card ">
                  <a href="/account/listLockedAccount">
                      <div class="card-body d-flex flex-column justify-content-between align-items-center">
                          <h5 class="card-title pt-1" style="color: #007bfd;">Đã bị khóa vô thời hạn</h5>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="line"></div>
    </div>
    <div class="mycontainer my-4 custom-container">
      <h3 class="text-center mb-5">Danh sách tài khoản chờ kích hoạt</h3>
      <div class="alert alert-info text-center" id="alert_info" style="display: none;"></div>
      <form class="px-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Username</th>
              <th scope="col">Họ tên</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Email</th>
              <th scope="col">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <% if (account.length > 0) { %>
              <% for(var i=0; i<account.length; i++) {%>
                <tr class="user_row_<%= account[i].user_id %>">
                  <td>
                    <%= account[i].user_id %>
                  </td>
                  <td>
                    <%= account[i].user_name %>
                  </td>
                  <td>
                    <%= account[i].name %>
                  </td>
                  <td>
                    <%= account[i].phone %>
                  </td>
                  <td>
                    <%= account[i].email %>
                  </td>
                  <td>
                    <%=  moment(account[i].time_create_status).add(7, 'hours').format('DD/MM/YYYY - HH:mm') %>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary view-detail-btn" 
                      data-toggle="modal" data-target="#detail-account"
                      data-name="<%= account[i].name %>" data-user_name="<%= account[i].user_name %>"
                      data-dob="<%= moment(account[i].time_create_status).add(7, 'hours').format('DD/MM/YYYY - HH:mm') %>" data-phone="<%= account[i].phone %>"
                      data-email="<%= account[i].email %>" data-address="<%= account[i].address %>"
                      data-card_front="data:image/png;base64,<%= account[i].id_card_front; %>" data-card_behind="data:image/png;base64,<%= account[i].id_card_behind; %>"
                      data-id="<%= account[i].user_id %>">
                        Xem chi tiết 
                    </button>
                  </td>
                </tr>
            <% }} else { %>
                <tr><td colspan=7 class="text-center table-alert py-5"><div><i class="fas fa-exclamation"></i></div>Không có tài khoản nào chờ kích hoạt</td></tr>
            <% } %>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <!--Detail Transaction History Modal -->
  <div class="modal fade" id="detail-account" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-4"></div>
          <h5 class="modal-title">Thông tin tài khoản</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-4">
          <div class="row">
            <p class="col-4">Họ tên:</p>
            <div class="col-8">
              <p class="text-success font-weight-bold name">Nguyễn Văn B</p>
            </div>
          </div>
          <div class="row">
            <p class="col-4">Username:</p>
            <div class="col-8">
              <p class="font-weight-bold user_name">23456867867</p>
            </div>
          </div>
          <div class="row">
            <p class="col-4">Ngày sinh:</p>
            <div class="col-8">
              <p class="font-weight-bold dob">22/03/2022</p>
            </div>
          </div>
          <div class="row">
            <p class="col-4">Số điện thoại:</p>
            <div class="col-8">
              <p class="font-weight-bold phone">0912345678</p>
            </div>
          </div>
          <div class="row">
            <p class="col-4">Email:</p>
            <div class="col-8">
              <p class="font-weight-bold email">nguyenvanb@gmail.com</p>
            </div>
          </div>
          <div class="row">
            <p class="col-4">Địa chỉ:</p>
            <div class="col-8">
              <p class="font-weight-bold address">3 Lạc Long Quân P5 Q11</p>
            </div>
          </div>
          <div class="row">
            <p class="col-4">Mặt trước CMND:</p>
            <div class="col-8">
              <img class="label-same-line card_front" style="max-width: 100%" src="/images/sample-id-pic.png" alt="">
            </div>
          </div>
          <div class="row">
            <p class="col-4">Mặt sau CMND:</p>
            <div class="col-8">
              <img class="label-same-line card_behind" style="max-width: 100%" src="/images/sample-id-pic.png" alt="">
            </div>
          </div>
        </div>
        <div class="alert alert-danger text-center" id="alert_danger" style="display: none;"></div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-primary view-detail-btn" 
          data-toggle="modal" data-target="#request-for-more-confirm">
            Yêu cầu bổ sung thông tin
          </button>
          <button type="button" class="btn btn-danger cancel-btn" 
          data-toggle="modal" data-target="#disapprove-confirm">
            Hủy
          </button>
          <button type="button" class="btn btn-success confirm-btn" 
          data-toggle="modal" data-target="#approve-confirm">
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal request for more -->
  <div class="modal fade" id="request-for-more-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn yêu cầu tài khoản này bổ sung thông tin?
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger w-25 request-update-btn" data-id="">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal approve-->
  <div class="modal fade" id="approve-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn xác minh tài khoản này chứ?
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger w-25 approve-btn" data-id="">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal disapprove-->
  <div class="modal fade" id="disapprove-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Nếu bạn xác nhận bấm "Hủy", tài khoản này sẽ bị vô hiệu hóa!
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger w-25 disapprove-btn" data-id="">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>